.hidden {
	display: none;
}
.shown {
	display: block;
}


.storebtn {
    color: black;
    background: #F2F2F2;
    font-weight: bold;
    font-family: Typewriter;
    border: 1px solid #127A20;
    width: 170px;
    height: 40px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    font-size: 85%;
    margin: auto;
    display: block;
}

.storebtn:hover {
    color: #FFF;
    background: #5AC467;
}
