body {
    background: #1c1917;
    background: -moz-linear-gradient(left, #0f0f0f 0%,  #141414 25%, #191919 75%, #1e1e1e 100%);
    background: -webkit-linear-gradient(left, #0f0f0f 0%,  #141414 25%, #191919 75%, #1e1e1e 100%);
    background: linear-gradient(to right, #0f0f0f 0%,  #141414 25%, #191919 75%, #1e1e1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d0d0d', endColorstr='#1c1917', GradientType=1);
}

button {
    color: #E0E0E0;
    background-color: #455A64 !important;
    border: 1px solid black;
    box-shadow: 0px 0px 8px 2px #111111;
}

input {
    background-color: #455A64 !important;
    border: 1px solid black !important;
}

#coinAmount {
    animation: antimatterGlow 15s infinite;
}

#progressbar {
    background-color: #1B5E20 !important;
}

#news {
    color: #E0E0E0 !important;
}

#game {
    border: 1px solid #546E7A !important;
    background-color: #455A64;
}

.tabbtn {
    border: 2px solid #1565C0 !important;
}

.secondarytabbtn {
    border: 2px solid #1565C0 !important;
}

.challengediv {
    background: #455A64 !important;
}

.completedchallengesbtn {
    background: #43A047 !important;
    box-shadow: none;
    border: 3px solid #388E3C;
}

.autobuyerbtn {
    color: black !important;
    box-shadow: none !important;
}

#infinityPoints1 {
    color: #4F5957 !important;
}

.infinitybtn {
    color: #E0E0E0 !important;
}

#replicantiamount {
    color: #E0E0E0 !important;
}

#replicantimult {
    color: #E0E0E0 !important;
}

.statstab {
    color: #E0E0E0 !important;
}

td {
    border-bottom: 1px solid #4F5957 !important;
}

@keyframes antimatterGlow {
    0%  {color: #2196F3;}
    33% {color: #673AB7;}
    66%  {color: #00BCD4;}
    100%  {color: #2196F3;}
}
