body {
    background: #1c1917;
    background: -moz-linear-gradient(left, #0f0f0f 0%,  #141414 25%, #191919 75%, #1e1e1e 100%);
    background: -webkit-linear-gradient(left, #0f0f0f 0%,  #141414 25%, #191919 75%, #1e1e1e 100%);
    background: linear-gradient(to right, #0f0f0f 0%,  #141414 25%, #191919 75%, #1e1e1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d0d0d', endColorstr='#1c1917', GradientType=1);
}

button {
    color: #E0E0E0;
    background-color: #455A64 !important;
    border: 1px solid black;
    box-shadow: 0px 0px 7px 2px #111111;
}

*:focus {
    outline: none;
}

.achievementunlocked {
    background-color: #43A047 !important;
}

.storebtn:hover {
    background: #1B5E20 !important;
}

.newdim:hover {
    background: #1B5E20 !important;
}

.newdimlocked:hover {
    background: #B84B5F !important;
}

.postinfcrunch:hover {
    background: #1565C0 !important;
}

.infinitybtn {
    color: #000 !important;
    background: #F5F5F5 !important;
    border: 2px solid #FF9800 !important;
}

.infinitybtn:hover {
    background: #FF9800 !important;
}

input {
    background-color: #455A64 !important;
    border: 1px solid black !important;
}

#coinAmount {
    animation: antimatterGlow 15s infinite;
}

#progressbar {
    background-color: #1B5E20 !important;
}

#news {
    color: #E0E0E0 !important;
}

#game {
    border: 1px solid #546E7A !important;
    background-color: #455A64;
}

.challengesbtn {
    background: #546E7A !important;
}

.challengesbtn:hover {
    background: #43A047 !important;
}

.onchallengebtn {
    background: #263238 !important;
}

.tabbtn {
    border: 2px solid #1565C0 !important;
}

.tabbtn:hover {
    background: #1565C0 !important;
    color: black !important;
}

.secondarytabbtn:hover {
    background: #1565C0 !important;
    color: black !important;
}

.secondarytabbtn {
    border: 2px solid #1565C0 !important;
}

.challengediv {
    background: #455A64 !important;
}

.completedchallengesbtn {
    background: #43A047 !important;
    box-shadow: none;
    border: 3px solid #388E3C;
}

.autobuyerbtn {
    color: black !important;
    box-shadow: none !important;
}

#infinityPoints1 {
    color: #4F5957 !important;
}

.statstab {
    color: #E0E0E0 !important;
}

td {
    border-bottom: 1px solid #4F5957 !important;
}

.unavailablebtn {
    background: #37474F !important;
}

.unavailablebtn:hover {
    background: #B84B5F !important;
}

.postinfcrunch {
    color: black;
    border: 2px solid #1565C0 !important;
}

.infinimultbtn {
    background: #1F1F1F !important;
}

.infinimultbtn:hover {
    color: white !important;
    background: #1F1F1F !important;
}

.infinistorebtn1 {
    color: #000 !important;
    background: #F5F5F5 !important
}

.infinistorebtn2 {
    color: #000 !important;
    background: #F5F5F5 !important
}

.infinistorebtn3 {
    color: #000 !important;
    background: #F5F5F5 !important
}

.infinistorebtn4 {
    color: #000 !important;
    background: #F5F5F5 !important
}

.infinistorebtnlocked:hover {
    background: #546E7A !important;
}

.infinistorebtn2:hover {
    color: #000;
    background: #D50000 !important;
}

.infinistorebtn1:hover {
    color: #000;
    background: #6200EA !important;
}

.infinistorebtn3:hover {
    color: #000;
    background: #FFD600 !important;
}

.infinistorebtn4:hover {
    color: #000;
    background: #00E5FF !important;
}

.infinistorebtnbought {
    color: black;
    background: #43A047 !important;
}

.autobuyerbtn {
    border: 1px solid #F48FB1 !important;
}

.autobuyerbtn:hover {
    background: #FF9800 !important;
    border: 2px solid #FF9800 !important;
}

.storebtn:hover {
    color: #FFF !important;
}

#infPowAmount {
    color: white !important;
    text-shadow: 0px 0px 7px #fff;
}

#infDimMultAmount {
    color: white !important;
    text-shadow: 0px 0px 7px #fff;
}

#timeShardAmount {
    color: #64DD17 !important;
    text-shadow: 0px 0px 7px #64DD17;
}

#tickThreshold {
    color: #64DD17 !important;
    text-shadow: 0px 0px 7px #64DD17;
}

#replicantiamount {
    color: #6200EA !important;
    text-shadow: 0px 0px 7px #6200EA;
}

#replicantimult {
    color: #6200EA !important;
    text-shadow: 0px 0px 7px #6200EA;
}

@keyframes antimatterGlow {
    0%  {color: #2196F3;}
    33% {color: #673AB7;}
    66%  {color: #00BCD4;}
    100%  {color: #2196F3;}
}
