* {
    border-radius: 0px !important;
}

.tabbtn {
    background: #EEEEEE !important;
    border: 1px solid #2196F3 !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.tabbtn:hover {
    background: #2196F3 !important;
    border: 1px solid #2196F3 !important;
}

.secondarytabbtn {
    background: #EEEEEE !important;
    border: 1px solid #2196F3 !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.secondarytabbtn:hover {
    background: #2196F3 !important;
    border: 1px solid #2196F3 !important;
}

.storebtn {
    background: #EEEEEE !important;
    border: 1px solid #66BB6A !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.storebtn:hover {
    background: #66BB6A !important;
}

.unavailablebtn {
    background: #9E9E9E !important;
    border: 1px solid #EF5350 !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.unavailablebtn:hover {
    background: #EF5350 !important;
}

.newdim {
    color: black !important;
    background: #EEEEEE !important;
    border: 1px solid #66BB6A !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.newdim:hover {
    background: #66BB6A !important;
}

.newdimlocked {
    background: #9E9E9E !important;
    border: 1px solid #EF5350 !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.newdimlocked:hover {
    background: #EF5350 !important;
}

.infinitybtn {
    border: 1px solid #FF9800 !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.infinitybtn:hover {
    background: #FF9800 !important;
}

.eternitytabbtn {
    color: #673AB7 !important;
    border: 1px solid #673AB7 !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.completedrow {
    background: #1B5E20 !important;
}

.achievementunlocked {
    background-color: #66BB6A !important;
    border: 1px solid #43A047 !important;
}

.achievementlocked {
    background-color: #9E9E9E !important;
    border: 1px solid #EF5350 !important;
}

.infinistorebtn1 {
    border: 1px solid black !important;
}

.infinistorebtn2 {
    border: 1px solid black !important;
}

.infinistorebtn3 {
    border: 1px solid black !important;
}

.infinistorebtn4 {
    border: 1px solid black !important;
}

.infinistorebtn1:hover {
    background: #9C27B0 !important;
}

.infinistorebtn2:hover {
    background: #F44336 !important;
}

.infinistorebtn3:hover {
    background: #FFEB3B !important;
}

.infinistorebtn4:hover {
    background: #00BCD4 !important;
}

.infinistorebtnbought {
    background: #66BB6A !important;
    border: 1px solid black !important;
}

.infinimultbtn {
    color: #EF5350 !important;
    border: 1px solid #00BCD4 !important;
}

.infinimultbtn:hover {
    color: black !important;
    background: #00BCD4 !important;
    border: 1px solid black !important;
}

.infinistorebtnlocked {
    border: 1px solid #616161 !important;
    background: #9E9E9E !important;
}

.infinistorebtnlocked:hover {
    background: #BDBDBD !important;
}

.autobuyerbtn {
    border: 1px solid #E91E63 !important;
    margin-bottom: -1px;
}

.autobuyerbtn:hover {
    background: #FF9800 !important;
    border: #FF9800 !important;
}

.postinfcrunch {
    background: #EEEEEE !important;
    border: 1px solid #2196F3 !important;
    box-shadow: 1px 1px 1px 0px #9E9E9E;
}

.postinfcrunch:hover {
    background: #2196F3 !important;
    border: 1px solid #2196F3 !important;
}

.EPAmount {
    color: #673AB7;
}

.IPAmount1 {
    color: #FF9800;
}

.IPAmount2 {
    color: #FF9800;
}

.timetheorembtn {
    background: #212121 !important;
    color: #00BCD4 !important;
    border: 1px solid #00BCD4 !important;
}

.timetheorembtn:hover {
    color: #212121 !important;
    background: #00BCD4 !important;
}

.timetheorembtnlocked {
    background: #9E9E9E !important;
    border: none !important;
    box-shadow: 1px 1px 1px 0px #000;
}

.timetheorembtnlocked:hover {
    background: #EF5350 !important;
}

.timestudy {
    color: #673AB7 !important;
    border: 1px solid #673AB7 !important;
    animation: glowIn 4s infinite;
}

.timestudy:hover {
    color: #EEEEEE !important;
    background: #512DA8 !important;
}

.timestudybought {
    background: #673AB7 !important;
    border: 1px solid #512DA8 !important;
    box-shadow: 1px 1px 1px 0px #000;
}

.timestudylocked {
    background: #9E9E9E !important;
    box-shadow: 1px 1px 1px 0px #000;
    border: none !important;
}

.timestudylocked:hover {
    background: #EF5350 !important;
}

.challengediv {
    border: 1px solid black !important;
}

.infchallengediv {
    border: 1px solid black !important;
}

.challengesbtn {
    border: 3px solid #43A047 !important;
    border-bottom-color: #388E3C !important;
    border-right-color: #388E3C !important;
}

.challengesbtn:hover {
    background: #66BB6A !important;
}

.completedchallengesbtn {
    background: #66BB6A !important;
    border: 3px solid #43A047 !important;
    border-bottom-color: #388E3C !important;
    border-right-color: #388E3C !important;
}

.milestonereward {
    background: #673AB7 !important;
    border: 1px solid #512DA8 !important;
}

.milestonerewardlocked {
    background: #9E9E9E !important;
    box-shadow: 1px 1px 1px 0px #000;
    border: none !important;
}

@keyframes glowIn {
    0%  {box-shadow: inset 0px 0px 3px 0px #673AB7;}
    50% {box-shadow: inset 0px 0px 20px 0px #673AB7;}
    100%  {box-shadow: inset 0px 0px 3px 0px #673AB7;}
}