body {
    background: none !important;
    animation: glasses 7s infinite;
}

@keyframes glasses {
    0% {filter: blur(0px);}
    10% {filter: blur(3px);}
    20% {filter: blur(0px);}
    30% {transform: rotateZ(0deg)}
    35% {transform: rotateZ(4deg)}
    40% {transform: rotateZ(-4deg)}
    45% {transform: rotateZ(0deg)}
    55% {filter: invert(0%);}
    65% {filter: invert(100%);}
    75% {filter: invert(0%);}
    85% {filter: opacity(100%);}
    92.5% {filter: opacity(50%);}
    100% {filter: opacity(100%);}
}