body {
    background-color: black !important;
}

#container {
    filter: invert(100%);
}

.popup {
    filter: invert(100%);
}

#theorembuybackground {
    border-color: #fff !important;
    background-color: #1f1f1f !important;
}

#timetheorems, #studytreeloadsavetext {
    color: #bbb !important;
}

.timetheorembtn {
    color: #c55329 !important;
    background-color: #dcdfd7 !important;
    border-color: #96e05a !important;
}

.timetheorembtn:hover {
    color: #dcdfd7 !important;
    background-color: #c55329 !important;
}

.timetheorembtnlocked {
    color: #fff !important;
    background-color: #b5b5b5 !important;
    border-color: #96e05a !important;
}

.timetheorembtnlocked:hover {
    background: #9ad0d0 !important;
}

#progressbar {
    color: white !important;
    background-color: #ED85DF !important;
}